<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    <meta name="description" content="Sambo Academy">
    <meta name="theme-color" content="#2563eb">
    {% endblock %}
    <title>{% block title %}Sambo Academy{% endblock %}</title>
    
    <!-- Favicon and App Icons -->
    <link rel="shortcut icon" href="/static/icons/sa_logo.ico">
    <link rel="apple-touch-icon" href="/static/icons/sa_logo_blue-144.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/static/icons/sa_logo_blue-144.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/icons/sa_logo_blue-512.png">
    
    {% block manifest %}
    <link rel="manifest" href="/static/manifest.json">
    {% endblock %}
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    
    {% block extra_js %}{% endblock %}
</body>
</html>
